body {
  font-family: "Segoe UI", sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width:100%;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.profile {
  background: rgb(50, 59, 76);
  color: white;
  padding: 1.5rem;
  max-width: 100%;
  box-sizing: border-box;
}
 .profile-header {
  display: flex;
  align-items: center;
  gap: 15px; /* espacio entre la imagen y el texto */
}
.summary-button{
 display: flex;
  align-items: center;
}
.summary-title{
	margin-top:20px;
	color:rgb(50, 59, 76);
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin-top:1%;
}

.title {
  color: white;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.links {
  margin-left: 45px;
}

.links a {
  text-decoration: none;
  color: #0077b5;
  font-weight: bold;
}

.links a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 1rem;
}

section h2 {
  color: #222;
  border-bottom: 2px solid #eee;
  padding-bottom: 0.3rem;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}
.lang-switch {
     margin: 10px 20px;
    }
.lang-switch button {
      padding: 5px 10px;
      cursor: pointer;
      border: none;
      background-color: #007BFF;
      color: white;
      border-radius: 5px;
      font-weight: bold;
 }
 
 @media screen and (max-width: 768px) {
  .container {
    max-width: 95%;
    padding: 1rem;
  }

  .profile-header {
    flex-direction: column;
    text-align: center;
  }

  .avatar {
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }

  .links {
    text-align: center;
    margin-top: 1rem;
    margin-left: 0;
  }
}
